@model IEnumerable<SchroniskoPsy.Models.Psy>

@{
    ViewData["Title"] = "Doggo";
}

<link rel="stylesheet" type="text/css" href="~/css/style.css" />

<div class="text-center" style="padding-top:150px">
    <h1 class="display-4">Witaj na stronie z schroniskami dla zwierząt!</h1>
    <img src="~/Foto/logo.png" /><br />

</div>