@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    <br /><br />
    Polityka prywatności
    <br /><br />
    Twoja prywatność ma dla nas ogromne znaczenie. W związku z tym chcemy zapewnić Ci jasne informacje dotyczące sposobu, w jaki gromadzimy, wykorzystujemy, udostępniamy i chronimy Twoje dane osobowe podczas korzystania z naszej strony internetowej.
    <br /><br />
    Gromadzenie i wykorzystywanie danych osobowych
    Podczas odwiedzania naszej strony internetowej możemy automatycznie gromadzić pewne dane, takie jak adres IP, informacje o przeglądarce, urządzeniu i systemie operacyjnym. Te informacje są anonimowe i służą nam do analizy statystycznej w celu ulepszenia naszych usług.
    <br /><br />
    Jeśli dobrowolnie podasz nam swoje dane osobowe poprzez formularze kontaktowe lub subskrypcję newslettera, będziemy wykorzystywać te informacje tylko w celach, dla których zostały podane. Nie będziemy udostępniać tych informacji osobom trzecim bez Twojej zgody, chyba że jest to wymagane przez prawo.
    <br /><br />
    Pliki cookies
    Nasza strona internetowa może korzystać z plików cookies, które są małymi plikami tekstowymi przechowywanymi na Twoim urządzeniu. Pliki cookies pomagają nam dostosować treści i reklamy do Twoich preferencji oraz zapewnić lepsze doświadczenie podczas korzystania z naszej strony. Możesz zablokować pliki cookies w ustawieniach swojej przeglądarki, jednak może to wpłynąć na niektóre funkcje naszej strony.
    <br /><br />
    Zabezpieczenie danych
    Podjęliśmy odpowiednie środki bezpieczeństwa, aby chronić Twoje dane osobowe przed nieuprawnionym dostępem, utratą lub nieuprawnionym ujawnieniem. Mimo to, pamiętaj, że żadna metoda przesyłania danych przez internet ani przechowywania ich elektronicznie nie jest w 100% bezpieczna, dlatego nie możemy zagwarantować absolutnego bezpieczeństwa Twoich danych.
    <br /><br />
    Zgoda i zmiany
    Korzystając z naszej strony internetowej, wyrażasz zgodę na naszą politykę prywatności. Możemy czasami aktualizować tę politykę, dlatego zalecamy regularne sprawdzanie jej treści.
    <br /><br />
    Kontakt
    Jeśli masz pytania dotyczące naszej polityki prywatności, prosimy o kontakt do Kacpra i Jurka.
</p>
